<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polytech.orientatewatch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="myapp.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-library android:name="com.google.android.maps"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Projet"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.polytech.orientatewatch.MainActivity"
            android:label="Projet" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.polytech.orientatewatch.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="com.example.polytech.orientatewatch.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.polytech.orientatewatch.MainActivity" />
        </activity>
        <activity
            android:name="com.example.polytech.orientatewatch.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.polytech.orientatewatch.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.polytech.orientatewatch.MainActivity" />
        </activity>
        <service android:name=".ListenerServiceFromWear">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBRQ9lpYwe3pubxGo-PL03H2bO-DR2bQ4o"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

    </application>

</manifest>